Flask~=3.0.3            # Для создания сайтов
aiogram~=3.4.1          # Для созадния и работы с Ботами Телеграм
environs~=11.0.0        # Для сокрытия личных данных проекта
Flask-Login~=0.6.3      # Для создания форм входа и регистрации
Flask-SQLAlchemy~=3.1.1 # Для работы с Базами данных в Python, связано с библиотекой Flask
Jinja2~=3.1.3           # Для работы кодом сайтов, связано с библиотекой Flask
pip~=24.0               # Установщик библиотек в проекте (можно не указывать в дипломе, техническое такое)
SQLAlchemy~=2.0.29      # Для работы с Базами данных в Python
Werkzeug~=3.0.2         # Для работы с личнвми данными пользователей, например пароли
